<ion-tabs class="tabs-icon-top">
    <ion-tab title="北京攻略" icon-on="ion-social-bitcoin" icon-off="ion-social-bitcoin-outline" ui-sref="tabs.beiing">
        <ion-nav-view name="beiJing-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="地图" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" ui-sref="tabs.map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="旅行分享" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tabs.lvXing">
        <ion-nav-view name="lvXing-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" ui-sref="tabs.my">
        <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>