<ion-view view-title="燕京八景">
    <ion-content>
        <div class="list card" ng-repeat="restaurant in restaurants">
            <div class="item">
                <img ng-src="{{restaurant.image_url}}" style="width: 100%"/>
                <h2>{{restaurant.name}}</h2>
                <div>{{restaurant.address}}</div>
                <div>{{restaurant.city}}</div>
            </div>
        </div>

        <ion-infinite-scroll on-infinite="getRestaurants()" ng-if="page<total" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>