
<ion-view view-title="" id="tour-view" >
    <ion-nav-buttons side="right">
        <a class="button button-balanced button-outline"  href="#/tabs/home" ng-if="isShow">进入</a>
    </ion-nav-buttons>
    <ion-slide-box show-pager="true" on-slide-changed="onSlideChanged($index)">
        <ion-slide class="slide1">
            <span class="ion-slide "></span>
        </ion-slide>
        <ion-slide class="slide2">
            <span class="ion-slide"></span>
        </ion-slide>
    </ion-slide-box>
</ion-view>
