<ion-view>
    <ion-content id="jiaotongBox">
        <ion-refresher on-refresh="load()" pulling-text="下拉刷新"></ion-refresher>
        <img ng-src="images/slide-23.jpg">
        <div id="jPosition"><a href="#"><p><i class="icon ion-heart myHeart"></i>登陆领取<span>30</span>元新手券</p></a></div>
        <div class="list jBox">
            <a href="#/reservation" class="item item-icon-left item-avatar">
                <i class="icon ion-document-text icons1"></i>我的订单<span class="icon ion-ios-arrow-right"></span>
            </a>
            <a href="#/weather" class="item item-icon-left item-avatar">
                <i class="icon ion-social-github-outline icons2"></i>我的优惠券<span class="icon ion-ios-arrow-right"></span>
            </a>
            <a href="#/restaurants" class="item item-icon-left item-avatar">
                <i class="icon ion-star icons3"></i>我的收藏<span class="icon ion-ios-arrow-right"></span>
            </a>
            <a href="#/restaurants" class="item item-icon-left item-avatar">
                <i class="icon ion-chatbubble-working icons4"></i>我的评论<span class="icon ion-ios-arrow-right"></span>
            </a>
            <a href="#/restaurants" class="item item-icon-left item-avatar">
                <i class="icon ion-person-stalker icons5"></i>商家入驻<span class="icon ion-ios-arrow-right"></span>
            </a>
        </div>
    </ion-content>
</ion-view>