<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>淇上酬薛三据兼寄郭少府微</h2>
            <h5>朝代：唐代</h5>
            <h5>作者：高适</h5>
            <h5>原文：</h5>
            <p>自从别京华，我心乃萧索。十年守章句，万事空寥落。</p>
            <p>北上登蓟门，茫茫见沙漠。倚剑对风尘，慨然思卫霍。</p>
            <p>拂衣去燕赵，驱马怅不乐。天长沧洲路，日暮邯郸郭。</p>
            <p>酒肆或淹留，渔潭屡栖泊。独行备艰险，所见穷善恶。</p>
            <p>永愿拯刍荛，孰云干鼎镬。皇情念淳古，时俗何浮薄。</p>
            <p>归旌告东捷，斗骑传西败。遥飞绝汉书，已筑长安第。</p>
            <p>画龙俱在叶，宠鹤先居卫。勿辞部曲勋，不藉将军势。</p>
            <p>相逢季冬月，怅望穷海裔。折剑留赠人，严装遂云迈。</p>
            <p>我行将悠缅，及此还羁滞。曾非济代谋，且有临深诫。</p>
            <p>随波混清浊，与物同丑丽。眇忆青岩栖，宁忘褐衣拜。</p>
            <p>自言爱水石，本欲亲兰蕙。何意薄松筠，翻然重菅蒯。</p>
            <p>恒深取与分，孰慢平生契。款曲鸡黍期，酸辛别离袂。</p>
            <p>逢时愧名节，遇坎悲沦替。适赵非解纷，游燕往无说。</p>
            <p>浩歌方振荡，逸翮思凌励。倏若异鹏抟，吾当学蝉蜕。</p>
            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>