<ion-view view-title="登陆" >
    <ion-content id="login">
        <div class="list">
            <label class="item item-input">
                <span class="input-label col-10">邮箱：</span>
                <input type="email" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input">
                <span class="input-label col-10">密码：</span>
                <input type="password" placeholder="password" ng-model="data.password" ng-minlength="6">
            </label>
            <button class="button button-block button-assertive"
                    ng-click="doSomething()"
                    ng-disabled="!data.email||!data.password">登陆</button>
        </div>
    </ion-content>
</ion-view>
<!--
<div class="scroll-content has-header">

</div>-->
