<ion-view view-title="礼物快选">
    <!--<div class="bar bar-subheader item-input-inset">-->
        <!--<label class="item-input-wrapper">-->
            <!--<input type="text" placeholder="输入搜索内容">-->
            <!--<a class="button button-clear icon icon-right ion-search"></a>-->
        <!--</label>-->
    <!--</div>-->
    <ion-content>
        <div class="bj"></div>
        <div class="button-bar">
            <a class="button button-clear">礼物推荐</a>
            <a class="button button-clear">送礼对象</a>
            <a class="button button-clear">送礼场合</a>
            <a class="button button-clear">送礼品类</a>
            <a class="button button-clear">礼物来源地</a>
            <a class="button button-clear">礼物价格</a>
        </div>
        <div class="row">
            <div class="col col-25 text-center box">

            </div>
            <div class="col col-75 text-center">
               <div class="col col-50 text-center"></div>
               <div class="col col-50 text-center"></div>
            </div>
        </div>
    </ion-content>
</ion-view>