.bj{
    height:6px;
    background-color:#e4e5e7;
}
.button-bar a {
    font-size: 14px;

}
.button-bar{
    border-bottom:1px solid #9e9e9e;
}
.box{
    background-color:#e4e5e7;
    height:800px;
}