<ion-view view-title="物品详情" >
    <!--&lt;!&ndash;<a name="goTop"></a>&ndash;&gt;  未生效-->
    <ion-content id="home_detail">
            <div class="row ">
        <img src="views/home/images/home_cont%20(6).jpg">
    </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(1).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(2).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(3).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(5).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(7).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(8).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
        <div class="row ">
            <img src="views/home/images/home_cont%20(9).jpg">
        </div>
        <div class="row text-center row_bot">
            <div class="col col-20  box1">
                <i class="icon ion-ios-chatboxes-outline"></i>客服
            </div>
            <div class="col col-20 box1">
                <i class="icon ion-ios-heart-outline"></i>收藏
            </div>
            <div class="col col-33 box2">送给自己</div>
            <div class="col col-33 box2">送给TA</div>
        </div>
    </ion-content>
    <!--href="#goTop"-->
    <a><i class="icon ion-arrow-up-a top_arrow" ></i></a>
</ion-view>