<ion-view view-title="我的" id="mine">
    <ion-content>

        <div class="row box">
            <div class="col col-100 text-center">
                <img src="views/mine/images/mine_bg.jpg">
            </div>
            <div class="mine_head text-center">
                <img src="views/mine/images/head_img.jpg"><br>
                <span >有爱boy</span>
            </div>
        </div>
        <div class="list">
            <div class="item login"><a href="#/login"><i class="icon ion-android-person"></i>&nbsp;登录</a></div>
            <div class="item"><i class="icon ion-navigate"></i>&nbsp;收货地址</div>
            <div class="item"><i class="icon ion-heart"></i>&nbsp;我的收藏</div>
            <div class="item"><i class="icon ion-ios-gear"></i>&nbsp;设置</div>
        </div>
    </ion-content>
</ion-view>