<ion-view view-title="{{email}}" id="back1">
    <ion-nav-bar class="bar-royal">

    </ion-nav-bar>
    <ion-content id="back">
        <div class="list">
            <div class="item text-center" style="border: none;font-size: 45px;width:60px;height: 60px;background-color:#B6B6B6;border-radius: 50%;margin:0 auto;line-height: 60px;padding: 0;margin-top: 20px;">
                <i class="ion-person stable"></i>
            </div>
            <div class="item text-center" style="font-size:20px;width:200px;height: 60px;border:1px solid #666;border-radius:5px;margin:0 auto;line-height: 60px;padding: 0;margin-top: 20px;background-color: rgba(0,0,0,0)">
                欢迎您
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">我发表的文章<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">我的收藏<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">更新北京攻略<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">收件箱<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">关于我们<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
            <div class="item" style="margin-top: 20px;border-top:none;border-bottom: 1px solid #666;background-color: rgba(0,0,0,0)">
                <h5 style="font-size: 20px;">后续功能陆续实现中....敬请期待<i class="ion-ios-arrow-right" style="float: right;font-size: 20px;"></i></h5>
            </div>
        </div>
    </ion-content>
</ion-view>