.head{height:30px;background-color:#f7f7f7;display: block;}
.logoHead_right input[type="text"]{line-height: 29px;height: 29px;vertical-align: top;}
.listyle{width:120px;border-left:1px solid #8e392c;border-right: 1px solid #5b0d01;text-align: center;}
.listyleno{border: none;border-left:1px solid #8e392c;}
footer{height: 144px;background-color: #ededed;display: block;}

section .myanniu{padding-left: 8px;padding-top: 170px;margin-bottom: 10px;}

