<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>满江红·写怀</h2>
            <h5>朝代：宋代</h5>
            <h5>作者：岳飞 </h5>
            <h5>原文：</h5>
            <p>怒发冲冠，凭栏处、潇潇雨歇。</p>
            <p>抬望眼，仰天长啸，壮怀激烈。</p>
            <p>三十功名尘与土，八千里路云和月。</p>
            <p>莫等闲、白了少年头，空悲切！</p>
            <p>靖康耻，犹未雪。臣子恨，何时灭！驾长车，踏破贺兰山缺。</p>
            <p>壮志饥餐胡虏肉，笑谈渴饮匈奴血。</p>
            <p>待从头、收拾旧山河，朝天阙。</p>

            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>