<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>醉翁亭记</h2>
            <h5>朝代：宋代</h5>
            <h5>作者：欧阳修 </h5>
            <h5>原文：</h5>
            <p>环滁皆山也。其西南诸峰，林壑尤美，</p>
            <p>望之蔚然而深秀者，琅琊也。山行六七里，</p>
            <p>渐闻水声潺潺而泻出于两峰之间者，酿泉也。峰回路转，</p>
            <p>有亭翼然临于泉上者，醉翁亭也。</p>
            <p>作亭者谁？山之僧智仙也。名之者谁？太守自谓也。</p>
            <p>太守与客来饮于此，饮少辄醉，而年又最高，故自号曰醉翁也。</p>
            <p>醉翁之意不在酒，在乎山水之间也。</p>
            <p>山水之乐，得之心而寓之酒也。</p>
            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>