<ion-tabs class="tabs-icon-top">
    <ion-tab title="推荐" icon-on="ion-home" icon-off="ion-home" ui-sref="tabs.travel">
        <ion-nav-view name="travel-tabs" ></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" icon-on="ion-star " icon-off="ion-star " ui-sref="tabs.gonglue">
        <ion-nav-view name="gonglue-tabs"></ion-nav-view>
    </ion-tab>

    <ion-tab title="动态" icon-on="ion-earth" icon-off="ion-earth" ui-sref="tabs.three">
        <ion-nav-view name="three-tabs"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" ui-sref="tabs.jiaotong">
        <ion-nav-view name="jiaotong-tabs"></ion-nav-view>
    </ion-tab>
</ion-tabs>