<ion-tabs class="tabs-icon-top"  hide-nav-bar="false">
    <ion-tab title="首页" icon-on="ion-ios-albums" icon-off="ion-ios-albums-outline" ui-sref="tabs.home">
        <ion-nav-view name="rates-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="唐诗" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabs.cont">
        <ion-nav-view name="history-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="宋词" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabs.shi">
        <ion-nav-view name="currencies-tab"></ion-nav-view>
    </ion-tab>

    <ion-nav-buttons side="right">
        <button class="button button-assertive" menu-toggle="right">
            <span class="icon ion-navicon"></span>
        </button>
    </ion-nav-buttons>
</ion-tabs>