<ion-view view-title="唐诗宋词三百首">
    <ion-content >
        <!--<ion-refresher on-refresh="load()" pulling-text="下拉刷新"></ion-refresher>-->
        <div class="row" style="background-color: #898989;">

            <div class="col col-30 text-center padding">
               <a class="button button-dark button-outline" ng-click="$('#fenlei1')">古诗分类</a>
            </div>

            <!--<div class="col col-30 text-center padding">
                <a class="button button-dark button-outline ">名句</a>
            </div>-->
            <div class="col col-30 text-center padding">
                <a class="button button-dark button-outline">古文典籍</a>
            </div>


        </div><br>
        <div ng-hide="true" id="fenlei1">
            <a>唐诗三百首</a>
            <a>古诗三百首</a>
            <a>宋词三百首</a>
            <a>宋词精选</a>
            <a>古诗十九首</a>
            <a>诗经</a>
            <a>楚辞</a>
            <a>乐府</a>
            <a>小学</a>
            <a>初中</a>
            <a>高中</a>
            <a>写景</a>
            <a>咏物</a>
            <a>春天</a>
            <a>夏天</a>
            <a>秋天</a>
            <a>冬天</a>
            <a>写雨</a>
            <a>写雪</a>
            <a>写风</a>
            <a>写花</a>
            <a>梅花</a>
            <a>荷花</a>
            <a>菊花</a>
            <a>柳树</a>
            <a>月亮</a>
            <a>山水</a>
            <a>写水</a>
            <a>长江</a>
            <a>黄河</a>
            <a>儿童</a>
            <a>写鸟</a>
            <a>写马</a>
            <a>田园</a>
            <a>地名</a>
            <a>节日</a>
            <a>春节</a>
            <a>元宵</a>
            <a>写风</a>
            <a>寒食</a>
            <a>清明</a>
            <a>端午</a>
            <a>七夕</a>
            <a>中秋</a>
            <a>重阳</a>
            <a>怀古</a>
            <a>抒情</a>
            <a>爱国</a>
            <a>离别</a>
            <a>送别</a>
            <a>思乡</a>
            <a>思念</a>
            <a>爱情</a>
            <a>励志</a>
            <a>哲理</a>
            <a>闺怨</a>
            <a>悼亡</a>
            <a>写人</a>
            <a>母亲</a>
            <a>友情</a>
            <a>战争</a>
            <a>读书</a>
            <a>惜时</a>
            <a>忧民</a>
            <a>婉约</a>
            <a>豪放</a>
            <a>民谣</a>
            <a>全唐诗</a>
            <a>全宋词</a>
            <a>全元曲</a>
            <a>更多>></a>
        </div>
        <div ng-hide="true" id="dianji1">
            <a>论语</a>
            <a>史记</a>
            <a>周易</a>
            <a>易传</a>
            <a>孟子</a>
            <a>左传</a>
            <a>大学</a>
            <a>中庸</a>
            <a>尚书</a>
            <a>礼记</a>
            <a>周礼</a>
            <a>仪礼</a>
            <a>庄子</a>
            <a>老子</a>
            <a>孟子</a>
            <a>墨子</a>
            <a>素书</a>
            <a>孝经</a>
            <a>将苑</a>
            <a>六韬</a>
            <a>反经</a>
            <a>冰鉴</a>
            <a>论衡</a>
            <a>智囊</a>
            <a>汉书</a>
            <a>后汉书</a>
            <a>韩非子</a>
            <a>淮南子</a>
            <a>尉缭子</a>
            <a>山海经</a>
            <a>三字经</a>
            <a>百家姓</a>
            <a>鬼谷子</a>
            <a>伤寒论</a>
            <a>商君书</a>
            <a>战国策</a>
            <a>三国志</a>
            <a>司马法</a>
            <a>逸周书</a>
            <a>地藏经</a>
            <a>金刚经</a>
            <a>孙子兵法</a>
            <a>三十六计</a>
            <a>资治通鉴</a>
            <a>续资治通鉴</a>
            <a>黄帝内经</a>
            <a>本草纲目</a>
            <a>了凡四训</a>
            <a>世说新语</a>
            <a>天工开物</a>
            <a>孔子家语</a>
            <a>吕氏春秋</a>
            <a>孙膑兵法</a>
            <a href="#/tabs/home">笑林广记</a>
            <a>贞观政要</a>
            <a>容斋随笔</a>
            <a>围炉夜话</a>
            <a>农桑辑要</a>
            <a>徐霞客游记</a>
            <a>更多>></a>
        </div>
        <div class=" row">
            <h3 class="text-left">最近更新</h3>

        </div>
        <div class="list" >
            <a href="#/tabs/reservation" class="item item-icon-left row" >
                <img src="image/gaoshi1.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>赠别王十七管记</h3>
                    <h5>作者：高适  8.2(10人评分)</h5><br>
                    <p>故交吾未测，薄宦空年岁。晚节踪曩贤，雄词冠当世。 堂中皆食客，门外多酒债。<br>产业曾未言，衣裘与人敝。 飘飖戎幕下，出入关山际。转战轻壮心，立谈有边计。<br> 云沙自回合，天海空迢递。星高汉将骄，月盛胡兵锐。 沙深冷陉断，雪暗辽阳闭。<br>亦谓扫欃枪，旋惊陷蜂虿。 归旌告东捷▼</p>
                </div>
            </a>
            <a href="#/tabs/weather" class="item item-icon-left row">
                <img src="image/shi2.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>淇上酬薛三据兼寄郭少府微</h3>
                    <h5>作者：高适  7.8(11人评分)</h5><br>
                    <p>自从别京华，我心乃萧索。十年守章句，<br>万事空寥落。北上登蓟门，茫茫见沙漠。倚剑对风尘，慨然思卫霍。拂衣去燕赵，<br>驱马怅不乐。天长沧洲路，日暮邯郸郭。<br>酒肆或淹留，渔潭屡栖泊。独行备艰险，所见穷善恶。永愿拯刍荛，孰云干鼎镬。<br>皇情念淳古，时俗何浮薄。理道资任贤，安人在求▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/shi3.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>水调歌头·丙辰中秋</h3>
                    <h5>作者：苏轼  8.3(29389人评分)</h5><br>
                    <p>丙辰中秋，欢饮达旦，大醉，作此篇，兼怀子由。<br>明月几时有？把酒问青天。不知天上宫阙，今夕是何年。<br>我欲乘风归去，又恐琼楼玉宇，高处不胜寒。<br>起舞弄清影，何似在人间？(何似 一作：何时；又恐 一作：惟 / 唯恐)转朱阁，低绮户，照无眠。不应有恨，何事长向别时圆？人有悲▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/shi3.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>赠别王十七管记</h3>
                    <h5>作者：高适  8.2(10人评分)</h5><br>
                    <p>故交吾未测，薄宦空年岁。晚节踪曩贤，雄词冠当世。 堂中皆食客，门外多酒债。<br>产业曾未言，衣裘与人敝。 飘飖戎幕下，出入关山际。转战轻壮心，立谈有边计。<br> 云沙自回合，天海空迢递。星高汉将骄，月盛胡兵锐。 沙深冷陉断，雪暗辽阳闭。<br>亦谓扫欃枪，旋惊陷蜂虿。 归旌告东捷▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/shi3.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>赠别王十七管记</h3>
                    <h5>作者：高适  8.2(10人评分)</h5><br>
                    <p>故交吾未测，薄宦空年岁。晚节踪曩贤，雄词冠当世。 堂中皆食客，门外多酒债。<br>产业曾未言，衣裘与人敝。 飘飖戎幕下，出入关山际。转战轻壮心，立谈有边计。<br> 云沙自回合，天海空迢递。星高汉将骄，月盛胡兵锐。 沙深冷陉断，雪暗辽阳闭。<br>亦谓扫欃枪，旋惊陷蜂虿。 归旌告东捷▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/shi3.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>赠别王十七管记</h3>
                    <h5>作者：高适  8.2(10人评分)</h5><br>
                    <p>故交吾未测，薄宦空年岁。晚节踪曩贤，雄词冠当世。 堂中皆食客，门外多酒债。<br>产业曾未言，衣裘与人敝。 飘飖戎幕下，出入关山际。转战轻壮心，立谈有边计。<br> 云沙自回合，天海空迢递。星高汉将骄，月盛胡兵锐。 沙深冷陉断，雪暗辽阳闭。<br>亦谓扫欃枪，旋惊陷蜂虿。 归旌告东捷▼</p>
                </div>
            </a>
           <!-- <div style="background-color: #777777" class="row">-->
               <!-- <i class="text-left icon ion-gear-b col col-20"></i>-->
               <!-- <input type="text" class="icon ion-search col col-center" placeholder="点击进行搜索">-->
                <!--<span class="text-right col col-20">筛选</span>-->
                <!--</div>-->
        </div>
    </ion-content>
</ion-view>