<ion-view view-title="唐诗">
    <ion-content>
        <div class="list" >
        <a href="#/tabs/ts1" class="item item-icon-left row" >
            <img src="image/gaoshi1.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>将进酒</h3>
                <h5>作者：李白  8.5(25757人评分)</h5><br>
                <p>君不见，黄河之水天上来，奔流到海不复回。君不见，高堂明镜悲白发，<br>朝如青丝暮成雪。人生得意须尽欢，莫使金樽空对月。天生我材必有用，千金散尽还复来。<br>烹羊宰牛且为乐，会须一饮三百杯。岑夫子，丹丘生，将进酒，杯莫停。与君歌一曲，<br>请君为我倾耳听。(倾耳听 一作：侧耳听)▼
                </p>
            </div>
        </a>
        <a href="#/tabs/ts2" class="item item-icon-left row">
            <img src="image/shi6.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>陋室铭</h3>
                <h5>作者：刘禹锡  8.3(19427人评分)</h5><br>
                <p>山不在高，有仙则名。水不在深，有龙则灵。斯是陋室，惟吾德馨。<br>苔痕上阶绿，草色入帘青。谈笑有鸿儒，往来无白丁。<br>可以调素琴，阅金经。无丝竹之乱耳，无案牍之劳形。南阳诸葛庐，<br>西蜀子云亭。孔子云：何陋之有？▼</p>
            </div>
        </a>
        <a href="#/tabs/ts3" class="item item-icon-left row">
            <img src="image/shi7.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>春望</h3>
                <h5>作者：杜甫  8.2(17082人评分)</h5><br>
                <p>国破山河在，城春草木深。感时花溅泪，<br>恨别鸟惊心。烽火连三月，家书抵万金。<br>白头搔更短，浑欲不胜簪。▼</p>
            </div>
        </a>
        <a href="#/tabs/ts4" class="item item-icon-left row">
            <img src="image/shi8.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>清明</h3>
                <h5>作者：杜牧  8.3(14877人评分)</h5><br>
                <p>清明时节雨纷纷，路上行人欲断魂。<br>借问酒家何处有？牧童遥指杏花村。▼</p>
            </div>
        </a>
        <a href="#/tabs/ts5" class="item item-icon-left row">
            <img src="image/shi9.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>长恨歌</h3>
                <h5>作者：白居易  8.9(12224人评分)</h5><br>
                <p>汉皇重色思倾国，御宇多年求不得。杨家有女初长成，养在深闺人未识。<br>天生丽质难自弃，一朝选在君王侧。回眸一笑百媚生，六宫粉黛无颜色。<br>春寒赐浴华清池，温泉水滑洗凝脂。侍儿扶起娇无力，始是新承恩泽时。<br>云鬓花颜金步摇，芙蓉帐暖度春宵。春宵苦短日高起，从此君王不早朝。承欢▼
                </p>
            </div>
        </a>
        <a href="#/tabs/ts6" class="item item-icon-left row">
            <img src="image/shi10.jpg" class="col col-25">
            <div class="col col-75" style="display: inline">
                <h3>小石潭记</h3>
                <h5>作者：柳宗元  8.2(13821人评分)</h5><br>
                <p>从小丘西行百二十步，隔篁竹，闻水声，如鸣佩环，心乐之。<br>伐竹取道，下见小潭，水尤清冽。全石以为底，近岸，卷石底以出，<br>为坻，为屿，为嵁，为岩。青树翠蔓，蒙络摇缀，参差披拂。<br>(佩 通：珮)潭中鱼可百许头，皆若空游无所依。日光下澈，影布石上，<br>佁然不动；俶尔远逝，往来翕▼</p>
            </div>
        </a>
        <!-- <div style="background-color: #777777" class="row">-->
        <!-- <i class="text-left icon ion-gear-b col col-20"></i>-->
        <!-- <input type="text" class="icon ion-search col col-center" placeholder="点击进行搜索">-->
        <!--<span class="text-right col col-20">筛选</span>-->
        <!--</div>-->

    </div>
    </ion-content>
</ion-view>