<ion-view view-title="宋词" >
    <ion-content>
        <div class="list" >
            <a href="#/tabs/reservation" class="item item-icon-left row" >
                <img src="image/songci1.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>满江红·写怀</h3>
                    <h5>作者：岳飞  8.4(18858人评分)</h5><br>
                    <p>怒发冲冠，凭栏处、潇潇雨歇。抬望眼，仰天长啸，壮怀激烈。<br> 三十功名尘与土，八千里路云和月。莫等闲、白了少年头，空悲切！(栏 通：阑)靖康耻，犹未雪。<br> 臣子恨，何时灭！驾长车，踏破贺兰山缺。壮志饥餐胡虏肉，笑谈渴饮匈奴血。<br> 待从头、收拾旧山河，朝天阙。(壮志 一作：壮▼</p>
                </div>
            </a>
            <a href="#/tabs/weather" class="item item-icon-left row">
                <img src="image/songci2.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>岳阳楼记</h3>
                    <h5>作者：范仲淹  8.2(15153人评分)</h5><br>
                    <p>庆历四年春，滕子京谪守巴陵郡。越明年，政通人和，百废具兴，<br>乃重修岳阳楼，增其旧制，刻唐贤今人诗赋于其上。属予作文以记之。<br>(具 通：俱)予观夫巴陵胜状，在洞庭一湖。衔远山，吞长江，浩浩汤汤，<br>横无际涯；朝晖夕阴，气象万千。此则岳阳楼之大观也，<br>前人之述备矣。然则北通▼</p>
                </div>
            </a>

            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/songci3.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>水调歌头·丙辰中秋</h3>
                    <h5>作者：苏轼  8.3(29419人评分)</h5><br>
                    <p>丙辰中秋，欢饮达旦，大醉，作此篇，兼怀子由。明月几时有？<br>把酒问青天。不知天上宫阙，今夕是何年。我欲乘风归去，又恐琼楼玉宇，<br>高处不胜寒。起舞弄清影，何似在人间？(何似 一作：何时；又恐 一作：惟 / 唯恐)转朱阁，低绮户，<br>照无眠。不应有恨，何事长向别时圆？人有悲▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/songci4.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>醉翁亭记</h3>
                    <h5>作者：欧阳修  8.3(14590人评分)</h5><br>
                    <p>环滁皆山也。其西南诸峰，林壑尤美，望之蔚然而深秀者，琅琊也。<br>山行六七里，渐闻水声潺潺而泻出于两峰之间者，酿泉也。峰回路转，有亭翼然临于泉上者，醉翁亭也。<br>作亭者谁？山之僧智仙也。名之者谁？太守自谓也。太守与客来饮于此，饮少辄醉，<br>而年又最高，故自号曰醉翁也。醉翁之▼</p>
                </div>
            </a>
            <a href="#/tabs/restaurants" class="item item-icon-left row">
                <img src="image/songci5.jpg" class="col col-25">
                <div class="col col-75" style="display: inline">
                    <h3>念奴娇·赤壁怀古</h3>
                    <h5>作者：苏轼  8.3(11627人评分)</h5><br>
                    <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。<br>乱石穿空，惊涛拍岸，卷起千堆雪。江山如画，一时多少豪杰。遥想公瑾当年，<br>小乔初嫁了，雄姿英发。羽扇纶巾，谈笑间，樯橹灰飞烟灭。(樯橹 一作：强虏)故国神游，<br>多情应笑我，早生华发。人生如梦，一尊还酹江▼</p>
                </div>
            </a>
            <!-- <div style="background-color: #777777" class="row">-->
            <!-- <i class="text-left icon ion-gear-b col col-20"></i>-->
            <!-- <input type="text" class="icon ion-search col col-center" placeholder="点击进行搜索">-->
            <!--<span class="text-right col col-20">筛选</span>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>