<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>水调歌头·丙辰中秋</h2>
            <h5>朝代：宋代</h5>
            <h5>作者：苏轼</h5>
            <h5>原文：</h5>
            <h5>丙辰中秋，欢饮达旦，大醉，作此篇，兼怀子由。</h5><br>
            <p>明月几时有？把酒问青天。</p>
            <p>不知天上宫阙，今夕是何年。</p>
            <p>我欲乘风归去，又恐琼楼玉宇，高处不胜寒。</p>
            <p>起舞弄清影，何似在人间？</p>
            <p>转朱阁，低绮户，照无眠。</p>
            <p>不应有恨，何事长向别时圆？</p>
            <p>人有悲欢离合，月有阴晴圆缺，此事古难全。</p>
            <p>但愿人长久，千里共婵娟。</p>

            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>