<ion-view id="tour-view" hide-nav-bar="true">

    <ion-slide-box show-pager="true" on-slide-changed="onSlideChenged($index)">
        <ion-slide class="img1">
       <img src="image/a5.jpg">
        <div class="box1">
            <h2>晓出净慈送林子方</h2>
            <ul>
                <li class="li1">毕竟西湖六月中</li>
                <li class="li2">风光不与四时同</li>
                <li class="li3">接天莲叶无穷碧</li>
                <li class="li4">映日荷花别样红</li>
            </ul>
        </div>

        </ion-slide>
        <ion-slide class="img2">
            <img src="image/a6.jpg">
            <div class="box2">
                <h2>望岳</h2>
                <ul>
                    <li class="box2-li1">岱宗夫如何？齐鲁青未了。</li>
                    <li class="box2-li2">造化钟神秀，阴阳割昏晓。</li>
                    <li class="box2-li3">荡胸生层云，决眦入归鸟。</li>
                    <li class="box2-li4">会当凌绝顶，一览众山小。</li>
                </ul>
            </div>

        </ion-slide>
        <ion-slide class="img3">
            <img src="image/a7.jpg">
            <div class="box3">
                <h2>竹石 </h2>
                <ul>
                    <li class="box3-li1">咬定青山不放松，</li>
                    <li class="box3-li2">立根原在破岩中。</li>
                    <li class="box3-li3">千磨万击还坚劲，</li>
                    <li class="box3-li4">任尔东西南北风。</li>
                </ul>
            </div>
        </ion-slide>
        <ion-slide class="img4">
                <h2>诗经·伪</h2>
            <p class="text-center">《诗经》内容丰富，反映了劳动与爱情、<br>
                战争与徭役、压迫与反抗、风俗与婚姻、祭祖与宴会，<br>
                甚至天象、地貌、动物、植物等方方面面，<br>
                是21世界社会生活的一面镜子。</p> <br> <br>
            <p class="text-center">"Book of Songs" is rich in content, reflecting the labor and love, <br>
                War and corvee, oppression and rebellion, customs and marriage, <br> ancestor worship and banquet, <br>
                Even the sky, physiognomy, animal, plant and other aspects, <br>
                Is a mirror of the social life of the 21 world.</p> <br> <br>
            <p class="text-right">----翻译：百度翻译 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

            <h4><a class="button button-light button-outline" id="enter" href="#/tabs/home">立刻体验</a></h4>
        </ion-slide>

    </ion-slide-box>
</ion-view>