<ion-view view-title="北京胡同文化">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
            <i class="icon ion-android-arrow-back"></i>后退
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item style="background: #e8e8e8">
                <img src="images/hutong.jpg" style="width: 100%;">
            </ion-item>
        </ion-list>
        <p>&nbsp;&nbsp;北京的胡同绝不仅仅是城市的脉络，交通的衢道，它更是北京普通老百姓生活的场所，京城历史文化发展演化的重要舞台。它记下了历史的变迁乍一看，北京的胡同都是灰墙灰瓦，一个模样。其实不然，只要你肯下点功夫，串上几条胡同，再和那的老住户聊上一阵子，就会发现，每条胡同都有个说头儿，都有自己的故事，都有着传奇般的经历，里面的趣闻掌故，时代的风貌，并蕴含着浓郁的文化气息，好像一座座民俗风情的博物馆，烙下了人们各种社会生活的印记。漫步其中，到处都是名胜古迹，细细品味又似北京的百科全书，不少胡同中的一块砖、一片瓦都有好几百年的历史了。从一个个大大小小的胡同院落中可以了解北京市民的生活，包括他们的生活方式、生活情趣和邻里关系。</p>
        <ion-list>
            <ion-item style="background: #e8e8e8">
                <img src="images/hutong2.jpg" style="width: 100%;">
            </ion-item>
        </ion-list>
        <p style="font-size: 16px;">&nbsp;&nbsp;胡同是北京特有的一种古老的城市小巷。胡同原为蒙古语，即小街巷。由于北京古时城建就有严格规划，所以胡同都比较直，星罗棋布，共有7000余条，名称五花八门，有的以人物命名，如文丞相胡同；有的以市场、商品命名，如金鱼胡同；有的以北京土语命名，如闷葫芦罐胡同等。北京最长的胡同就是东西交民巷，全长6.5公里；最短的一尺半大街，长不过十几米；最窄的胡同要数前门大栅栏地区的钱市胡同，宽仅0.75米，稍许胖点的人得屏住呼吸才能通过。在北京，胡同浩繁有几千条，他们围绕在紫禁城周围，大部分形成于中国历史上的元、明、清三个朝代。</p>
    </ion-content>
</ion-view>