*{padding:0;margin: 0}
a{text-decoration: none}
li{list-style: none}
img{border: none}
input{border: none}
body{
    background: url("../images/body.jpg")no-repeat top;
    width:100%;
    height:100%;
}
#warp div{
    width:60px;
}
.wb{
    border-top:228px solid rgba(0,0,0,0.7) ;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-radius: 10px;
    position: absolute;
    left: 44%;
    top:548px;
    transform:rotate(183deg);
    animation: myaction infinite 0.8s ease;
}
@keyframes myaction {
    0%{  left: 45%;  top:548px;  transform:rotate(183deg) ;  }
    8%{  left: 40%;  top:519px;  transform:rotate(210deg) ;  }
    16%{  left: 36%;  top:457px;  transform:rotate(240deg) ;  }
    24%{  left: 34%;  top:374px;  transform:rotate(270deg) ;  }
    32%{  left: 36%;  top:292px;  transform:rotate(300deg) ;  }
    40%{  left: 39%;  top:233px;  transform:rotate(334deg) ;  }
    48%{  left: 44%;  top:208px;  transform:rotate(360deg) ;  }
    56%{  left: 49%;  top:230px;  transform:rotate(391deg) ;  }
    64%{  left: 53%;  top:298px;  transform:rotate(417deg) ;  }
    72%{  left: 55%;  top:373px;  transform:rotate(450deg) ;  }
    80%{  left: 53%;  top:461px;  transform:rotate(480deg) ;  }
    100%{  left: 50%;  top:523px;  transform:rotate(510deg) ; }
}
#myButton{
    width: 100px;
    height:100px;
    border: 2px solid palegoldenrod;
    border-radius: 50%;
    box-shadow:0px 0px 20px #fff;
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    left:70%;
    bottom: 10%;
}
#myButton a{
    display:block ;
    color:white;
    font-size: 18px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    font-family: "微软雅黑";
}