<ion-view view-title="品牌汇">
    <ion-content>
        <h4>设计师</h4>
        <div class="row">
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/1.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/2.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/3.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/4.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/5.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/6.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/7.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/8.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/9.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/10.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/11.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
            <div class="col col-33 text-center box2">
                <img src="views/brand/images/12.jpg"><br/>
                <p>中国.Y.C.B</p>
                <span>Young chinese Blood(Y.C.B)是一个</span>
            </div>
        </div>

    </ion-content>
</ion-view>