<ion-view view-title="名人名言">
    <ion-content class="padding">
        <div class="list item-text-wrap ">
            <div class="item" >
                {{weather.result[0].famous_name}}&deg;说：
           <br><br>
                {{weather.result[0].famous_saying}}&deg;
            </div>

        </div>
        <div class="list">
            <div class="item" >
                {{weather.result[1].famous_name}}&deg;说：
                <br><br>
                {{weather.result[1].famous_saying}}&deg;
            </div>

        </div>
        <div class="list">
            <div class="item" >
                {{weather.result[2].famous_name}}&deg;说：
                <br><br>
                {{weather.result[2].famous_saying}}&deg;
            </div>

        </div>
        <div class="list">
            <div class="item" >
                {{weather.result[3].famous_name}}&deg;说：
                <br><br>
                {{weather.result[3].famous_saying}}&deg;
            </div>

        </div>
        <div class="list">
            <div class="item" >
                {{weather.result[4].famous_name}}&deg;说：
                <br><br>
                {{weather.result[4].famous_saying}}&deg;
            </div>
        </div>
        <div class="list">
            <div class="item" >
                {{weather.result[5].famous_name}}&deg;说：
                <br><br>
                {{weather.result[5].famous_saying}}&deg;
            </div>

        </div>





    </ion-content>
</ion-view>