<ion-view view-title="AhaBox 非礼物" id="home"  >
    <ion-nav-buttons side="primary">
        <a class="button button-clear icon icon-right ion-search"></a>
    </ion-nav-buttons>
    <ion-content class="has-header  box" >
        <h4 class="text-center">精品推荐</h4>
        <div class="row" >
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(6).jpg"></a>
                <p>复杂工艺绝版咖啡杯 ￥429</p>
            </div>
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(1).jpg"></a>
                <p>一叶菩提 万般美好 ￥129</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(2).jpg"></a>
                <p>我愿赠你这温润如玉 ￥139</p>
            </div>
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(3).jpg"></a>
                <p>象征着爱无处不在 ￥429</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(5).jpg"></a>
                <p>移动能量 清新随行 ￥189</p>
            </div>
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(7).jpg"></a>
                <p>Art Nouveau 美学的革新设计 ￥109</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(8).jpg"></a>
                <p>春夏就该背这种包 ￥1089</p>
            </div>
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(9).jpg"></a>
                <p>乘着梦想去飞行 ￥109</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(10).jpg"></a>
                <p>以爱冠你之名 ￥329</p>
            </div>
            <div class="col col-50 text-center">
                <a href="#/home_detail"><img src="views/home/images/home_cont%20(11).jpg"></a>
                <p>复古手风琴项链 ￥759</p>
            </div>
        </div>
        <h4 class="text-center">设计师推荐</h4>
        <div class="row designer" >
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(1).png"></a>
                <h5>Currie Lee</h5>
                <p>D-SATA by CuR的设计源于设计师Currie Lee对“一切复古事物”</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(2).png"></a>
                <h5>孙何方</h5>
                <p>HEFANG Jewelry创始人及设计师.设计风格：她设计的珠宝清新自华，淡定优雅。每个...</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(3).png"></a>
                <h5>Jessica Xu</h5>
                <p>AURORA ALBA不仅售卖内衣，更提倡女性对待美和生活的态度：内衣的选择，是表达呵护身心与...</p>
            </div>
        </div>
        <div class="row designer" >
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(4).png"></a>
                <h5>Astro</h5>
                <p>来自瑞士的品牌，Astro是目前世界上唯一一个实现了“pure audio”的蓝牙音箱，Tre...</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(5).png"></a>
                <h5>春子</h5>
                <p>以“特立独行、不跟随、玩味、小叛逆”为风格导向，定位小众；希望聚集一群具有独特品味、独立人格的...</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(6).png"></a>
                <h5>中国·mean streets</h5>
                <p>Mean Streets”取自Martin Scorsese 73年同名电影《穷街陋巷》，意...</p>
            </div>
        </div>
        <div class="row designer" >
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(7).png"></a>
                <h5>MIGHTY MUG</h5>
                <p>MIGHTY MUG是由美国品牌Alfay Designs所研发设计，并委托台湾知名生活用品制...</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(8).png"></a>
                <h5>项哲青</h5>
                <p>玩偶设计师，毕业于南京艺术学院雕塑系。爱油画，爱手工，爱手绘，爱复古，爱把传统手工艺与新事物相...</p>
            </div>
            <div class="col col-20 col-offset-10 text-center">
                <a href="#/home_detail"><img src="views/home/images/designer%20(9).png"></a>
                <h5>Jeremy Scott</h5>
                <p>Cybex是来自于德国高端时尚的儿童用品领导品牌，以高精设计、创新科技、顶级安全性能和精细便捷...</p>
            </div>
        </div>
    </ion-content>
</ion-view>