<ion-tabs class="tabs-icon-top">
    <ion-tab title="主页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home" >
        <ion-nav-view name="rates-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="朋友" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tabs.friend">
        <ion-nav-view name="history-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.personage">
        <ion-nav-view name="currencies-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>