
<ion-view view-title="开心一刻">
    <ion-content class="padding">
        <div class="list item-text-wrap ">
            <h5>段子一</h5>
            {{weather.showapi_res_body.contentlist[0].ct}}
            <div class="item ">

            {{weather.showapi_res_body.contentlist[0].text}}&deg;
            </div>
        </div>
        <div class="list">
            <h5>段子二</h5>
            {{weather.showapi_res_body.contentlist[1].ct}}
            <div class="item item-text-wrap">
               {{weather.showapi_res_body.contentlist[1].text}}&deg;
            </div>
        </div>
        <div class="list">
            <h5>段子三</h5>
            {{weather.showapi_res_body.contentlist[2].ct}}
            <div class="item item-text-wrap">
                {{weather.showapi_res_body.contentlist[2].text}}&deg;
            </div>
        </div>

        <div class="list">
            <h5>段子四</h5>
            {{weather.showapi_res_body.contentlist[3].ct}}
            <div class="item item-text-wrap">
                {{weather.showapi_res_body.contentlist[3].text}}&deg;
            </div>
        </div>
        <div class="list">
            <h5>段子五</h5>
            {{weather.showapi_res_body.contentlist[4].ct}}
            <div class="item item-text-wrap">
                {{weather.showapi_res_body.contentlist[4].text}}&deg;
            </div>
        </div>
        <div class="list">
            <h5>段子六</h5>
            {{weather.showapi_res_body.contentlist[5].ct}}
            <div class="item item-text-wrap">
               {{weather.showapi_res_body.contentlist[5].text}}&deg;
            </div>
        </div>

    </ion-content>
</ion-view>