<ion-tabs class="tabs-icon-top" >
    <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="专题" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabs.topic">
        <ion-nav-view name="topic-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="礼物快选" icon-on="ion-ios-box" icon-off="ion-ios-box-outline" ui-sref="tabs.gift">
        <ion-nav-view name="gift-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="品牌汇" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="tabs.brand">
        <ion-nav-view name="brand-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>