<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>长恨歌</h2>
            <h5>朝代：唐代</h5>
            <h5>作者：白居易 </h5>
            <h5>原文：</h5>
            <p>汉皇重色思倾国，御宇多年求不得。</p>
            <p>杨家有女初长成，养在深闺人未识。</p>
            <p>天生丽质难自弃，一朝选在君王侧。</p>
            <p>回眸一笑百媚生，六宫粉黛无颜色。</p>
            <p>春寒赐浴华清池，温泉水滑洗凝脂。</p>
            <p>侍儿扶起娇无力，始是新承恩泽时。</p>
            <p>云鬓花颜金步摇，芙蓉帐暖度春宵。</p>
            <p>春宵苦短日高起，从此君王不早朝。</p>

            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>