<ion-view view-title="唐诗宋词">
    <ion-content>
        <div class="list padding text-center" >
            <h2>小石潭记</h2>
            <h5>朝代：唐代</h5>
            <h5>作者：柳宗元 </h5>
            <h5>原文：</h5>
            <p>从小丘西行百二十步，隔篁竹，闻水声，如鸣佩环，心乐之。</p>
            <p>伐竹取道，下见小潭，水尤清冽。</p>
            <p>全石以为底，近岸，卷石底以出，</p>
            <p>为坻，为屿，为嵁，为岩。</p>
            <p>青树翠蔓，蒙络摇缀，参差披拂。</p>
            <p>潭中鱼可百许头，皆若空游无所依。</p>
            <p>日光下澈，影布石上，佁然不动；</p>
            <p>俶尔远逝，往来翕忽。似与游者相乐。</p>
            <p>潭西南而望，斗折蛇行，明灭可见。</p>
            <p>其岸势犬牙差互，不可知其源。</p>
            <p>坐潭上，四面竹树环合，寂寥无人，凄神寒骨，悄怆幽邃。</p>
            <p>以其境过清，不可久居，乃记之而去。</p>

            <i class="icon ion-star"></i>
        </div>
    </ion-content>
</ion-view>