<ion-view view-title="专题">
    <ion-content id="topic">
        <div class="row" >
            <div class="col col-100 text-center">
                <img src="views/topic/images/topic_img%20(4).jpg">
                <h4>祝福不缺席 新婚“心”礼推荐</h4>
                <p>幸福总会不约而至，最好的祝福是为TA的甜蜜生活锦上添花</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-100 text-center">
                <img src="views/topic/images/topic_img%20(5).jpg">
                <h4>其实什么都可以是礼物</h4>
                <p>送给他的不仅是优越的物质生活，更是超越的人生</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-100 text-center ">
                <img src="views/topic/images/topic_img%20(1).jpg">
                <h4>最适合双鱼座的生日礼物</h4>
                <p>双鱼小公举没有礼物？分分钟哭给你看</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-100 text-center">
                <img src="views/topic/images/topic_img%20(2).jpg">
                <h4>就着这瓶指甲油，我讲个故事给你听</h4>
                <p>让你的十指熠熠生辉的法宝</p>
            </div>
        </div>
        <div class="row" >
            <div class="col col-100 text-center">
                <img src="views/topic/images/topic_img%20(3).jpg">
                <h4>大明星的家里藏着“你”</h4>
                <p>独立设计师帅付瑞祥作品推荐</p>
            </div>
        </div>
    </ion-content>
</ion-view>