<div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input class="searchIcon" type="text" placeholder="搜索你喜欢的行程/服务/商品">
    </label>
    <button class="button button-clear">
        <i class="icon ion-chatbubble-working "></i>
    </button>
</div>
<div class="list card redai">
    <div class="item item-avatar icon-right">
        <h2 class="icon ion-arrow-right">天冷要去热带</h2>
        <p>在冬天享受阳光与沙滩的美妙</p>
    </div>
    <div class="row">
        <div class="tOne col-30 ">
            <img class="" src="images/slide-3.jpg">
            <h5>三亚</h5>
            <p class="">说走就走</p>
        </div>

        <div class="tTwo col-30">
            <img class="" src="images/slide-4.jpg">
            <h5>长滩岛</h5>
            <p class="">玩乐与美味的</p>
        </div>

        <div class="tTwo col-30">
            <img class="" src="images/slide-5.jpg">
            <h5>普吉岛</h5>
            <p class="">度假天堂</p>
        </div>
    </div><br/>
    <div class="row">
        <div class="tOne col-30 ">
            <img class="" src="images/slide-6.jpg">
            <h5>新加坡</h5>
            <p class="">花园海岛</p>
        </div>

        <div class="tTwo col-30">
            <img class="" src="images/slide-7.jpg">
            <h5>沙巴</h5>
            <p class="">最划算的水..</p>
        </div>

        <div class="tTwo col-30">
            <img class="" src="images/slide-8.jpg">
            <h5>斯里兰卡</h5>
            <p class="">神秘而美好</p>
        </div><br/>
    </div>
</div>
<div class="scroll-content has-header has-subheader has-footer ">

    <div class="tabs-striped tabs-color-positive">
        <div class="tabs">
            <a class="tab-item " href="#" ui-sref="tabs.travel.jingdian">
                去远方
            </a>
            <a class="tab-item " href="#" ng-click="myAl()">
              看当地
            </a>
            <a class="tab-item" href="#">
               选购
            </a>
        </div>
    </div>
</div>
