<ion-view view-title="老北京">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
            <i class="icon ion-android-arrow-back"></i>后退
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item style="background: #e8e8e8">
                <img src="images/old.jpg" style="width: 100%;">
            </ion-item>
        </ion-list>
        <p>&nbsp;&nbsp;北京是有着千年历史的国家历史文化名城。北京在历史上曾为五代都城，在从金朝起的800多年里，建造了许多宏伟壮丽的宫廷建筑，使北京成为我国拥有帝王宫殿、园林、庙坛和陵墓数量最多，内容最丰富的城市。其中北京故宫又称紫禁城，这里原为明、清两代的皇宫，住过24个皇帝，建筑宏伟壮观，完美地体现了中国传统的古典风格和东方格调，是我国乃至全世界现存最大的宫殿，是中华民族宝贵的文化遗产。天坛以其布局合理、构筑精妙而扬名中外，是明、清两代皇帝“祭天”和“祈谷”的地方，是我国现存最大的古代祭祀性建筑群，也是世界建筑艺术的宝贵遗产。颐和园是北京着名的旅游景点圆明园是我国最有名的皇家园林，园中山青水绿，在中外园林史上享有盛誉，具有很高的艺术价值，被誉为“万园之园”。明十三陵是北京最大的皇家陵寝墓群，内有明代13个皇帝的陵墓，尤其是现代发掘的明定陵，规模浩大，极为壮观。</p>
        <ion-list>
            <ion-item style="background: #e8e8e8">
                <img src="images/jingju.jpg" style="width: 100%;">
            </ion-item>
        </ion-list>
        <h3>京剧</h3>
        <p style="font-size: 16px;">&nbsp;&nbsp;京剧是地道的中国国粹，深受京城老百姓的喜爱，走在北京的街头，经常可以听到路边传来抑扬顿挫的京戏段子。京剧的源头还要追溯到几种古老的地方戏剧，1790年，安徽的四大地方戏班——三庆班、四喜班、春公班、和春班——先后进京献艺，获得空前成功。徽班常与来自湖北的汉调艺人合作演出，于是，一种以徽调“二黄”和汉调“西皮”为主，兼收昆曲、秦腔、梆子等地方戏精华的新剧种诞生了，这就是京剧。在200年的发展历程中，京剧在唱词、念白及字韵上越来越北京化，使用的二胡、京胡等乐器，也融合了多个民族的特色，终于成为一种成熟的艺术。京剧集歌唱、舞蹈、武打、音乐、美术、文学于一体，与西方歌剧有类似之处，所以被西方人称为“peking　opera”。除京剧外，北京还有双簧、相声、评书、京韵大鼓等，样样堪称国粹。</p>
        <ion-list>
            <ion-item style="background: #e8e8e8">
                <img src="images/siheyuan.jpg" style="width: 100%;">
            </ion-item>
        </ion-list>
        <h3>四合院</h3>
        <p style="font-size: 16px;">&nbsp;&nbsp;四合院就是东南西北四面建房，合围出一个院子，院子的外墙又组成了胡同的边墙。院内北房为正房，东西两侧为厢房，除大门外，没有窗户或通道与胡同相连。四合院里宁静、封闭，是老北京的传统民居。散落在市区的名人故居和王府一般都是比较正宗的四合院，如前海西街的恭王府。近年来北京的高楼大厦越建越多，四合院已经不多见了，现在只有在二环路里还有两片较完整的四合院区。</p>
    </ion-content>
</ion-view>